body { text-align: center;
	     font-family: Monospace;
	     background-color: black;
	     color: white;
	   }

div { word-break: break-word;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
      max-width: 500px;
      margin: auto;
    }

img { width: 140px;
      border: solid 1px white;
      border-radius: 50%;}

h2 {  border-bottom: 2px dotted white}

a {   color: red;}
